[2019-04-13 22:54] bashleigh opened #5 "export a defined type file"

[2019-04-19 11:58] ForeshadowRU opened #6 "Wrong page counting"
Hi. I've been using this lib in hobby project and faced the wrong page counting situation.

![ScreenShot](https://user-images.githubusercontent.com/24393965/56422328-a43db700-62c8-11e9-95e6-48f24961857f.png)
Total Items = 11;
Default limit = 10;
So there are supposed to be two page ( 0, 1) but there is only one.

I can probably try to fix it :p
Also I have a question, pagination should work someth

[2019-04-20 09:34] #6 closed

[2019-04-24 21:14] diegolaciar commented on #5
+1 !!

[2019-04-25 13:09] bashleigh commented on #5
@diegolaciar  I done this today, trying installing 0.1.5 👍

[2019-04-25 13:09] #5 closed

[2019-04-25 13:15] bashleigh commented on #5
made a balls up with dependancies. Try 0.1.6

[2019-05-07 13:41] MrFuri opened #11 "Find options in paginate"
[code]

am i using find options param correctly? Or is it a bug?

great lib btw :)

[2019-05-07 16:36] bashleigh commented on #11
Yea, you should have to define the `where` key.

[code]
Although, odd that you was able to pass user as you did. I'll look into that as I might've used the wrong interface for the options. Thanks :)

[2019-05-07 17:45] bashleigh commented on #11
Not quite sure. I not sure if I should change `FindConditions` with or `FindManyOptions`? What do you think?

[2019-05-09 12:49] bashleigh commented on #11
ooooo that doesn't seem right. I wanted it to be able to do `where: {}, order: {}` and it looks like `FindConditions` are just the conditions to search over. Cool thanks I'll fix this! It should be `where: {}` as that's the required parameter of the `findAndCount` which is weird. Perhaps I need to provide all the alternative types of the parameter

[2019-05-09 12:58] bashleigh commented on #11
ok try v`0.1.7-beta` I added the findManyOptions interface and fixed up the 'merge' method of the objects.

[2019-05-09 13:30] MrFuri commented on #11
Still the same with the beta

![Screen Shot 2019-05-09 at 10 23 56](https://user-images.githubusercontent.com/32817380/57456844-bd40e480-7244-11e9-933e-778b38e3f397.png)

I think the definition file didn't change
![Screen Shot 2019-05-09 at 10 24 30](https://user-images.githubusercontent.com/32817380/57456892-d5186880-7244-11e9-8c88-d7b85cda2acb.png)

[2019-05-09 13:37] bashleigh commented on #11
I didnt build... idiot lol

[2019-05-09 14:01] MrFuri commented on #11
IT'S ALIVE and it's working

![Screen Shot 2019-05-09 at 10 57 00](https://user-images.githubusercontent.com/32817380/57459244-3b9f8580-7249-11e9-84a5-ade1c6c75a08.png)

**Thanks!!!**

[2019-05-09 14:11] bashleigh commented on #11
Yes! Cool thanks again for pointing it out :) I'll publish as `0.1.7`

[2019-05-09 14:23] MrFuri commented on #11
Just a little thing (you dont need to rush the update or even update this) when the consumer use the "limit" query then endpoint to next page is `"next": "http://some/thing?page=3",` i think it should be `http://some/thing?page=3&limit=<the_limit_sent>` because if the consumer only use "http://some/thing?page=3" will return "false cognate" data

Example:
![Screen Shot 2019-05-09 at 11 16 27](https

[2019-05-09 16:12] bashleigh commented on #11
Oh fair enough. You're welcome to add that if you like? :) worth adding

[2019-05-09 21:51] MrFuri commented on #11
Of couse, i'll add it in my free time. Thanks for the support :)

[2019-05-09 21:51] #11 closed

[2019-05-25 21:37] rex2002xp opened #13 "Add variable limit"
Add variable limit to response.

Example:
`{
    "items": [
        {
            "id": "8be4d71a-e76e-4ef1-8230-2c90e47f1eb1",
            "rol": "Gerencia",
            "createdAt": "2019-05-25T17:36:10.916Z",
            "updatedAt": "2019-05-25T17:56:38.152Z",
            "version": 4
        },
        {
            "id": "7e60ed59-0e8d-47ef-a863-5c0849107d25",
            "rol": "Administrad

[2019-06-12 15:45] #13 closed

[2019-07-16 07:03] AnhLy opened #24 "Sort in other table by name"
I want to sort the photo list by the name of the user which is related by userId. Right now, I could sort in only photo entity area, but sort by userId. How can I do that? Thanks

[code]

[2019-07-18 15:13] bashleigh commented on #24
I 'think' (not tried this) you can do this

[code]
Might want to check typeorm docs https://typeorm.io/#/select-query-builder/adding-order-by-expression

[2019-07-19 03:31] AnhLy commented on #24
Thanks for your response, but I want to sort user name follow the alphabet, instead of userId.

[2019-07-19 03:38] AnhLy commented on #24
I can sort by creating a query builder likes:

createQueryBuilder("photo")
    .innerJoin("photo.userId", "user")
    .orderBy("user.name")
    .getMany();

But in this case, I use paginate which could not write like this:
    return paginate<Photo>(
      this.photoRepository,
      { page, limit },
      {
        where: whereQuery,
        order: { "user.name": "DESC" }
      },
    );

Any sol

[2019-07-23 08:35] bashleigh commented on #24
Ok, after looking at the typeorm types it looks like this is not possible. Below you can see that the order object has to have a key that relates to the entity.

[code]

In your case you don't really want to be using the repository, you probably want to be using the query builder. So I propose we add a new paginate method that will accept the queryBuilder (one method that takes queryBuilder || rep

[2019-07-23 09:47] AnhLy commented on #24
Thanks for taking the answer, here is the source code of the paginate, [https://github.com/nestjsx/nestjs-typeorm-paginate/blob/master/src/paginate.ts](url), the paginate only receive the repository: Repository<T> param. Or I miss something?

[2019-07-23 12:39] bashleigh commented on #24
@AnhLy new feature :joy: I'll add it in and release :p I've added it in but need tests

[2019-07-24 01:09] AnhLy commented on #24
@bashleigh Oh thank you very very much.

[2019-07-27 21:25] bashleigh commented on #24
will release in next version :)

[2019-07-27 21:31] #24 closed

[2019-08-04 16:47] guotingchaopr opened #31 "yarn run build error"
When I run the yarn run build command：
[code]

[2019-08-05 10:36] bashleigh commented on #31
What version of typeorm have you installed?

[2019-08-07 11:57] b-konrad opened #35 "Offset not working in current npm version"
I noticed that the source code of the version which is installed via npm is not the one in this repo. Both package.json state that it's version 1.0.0.
But in the one installed via npm the offset is set: queryBuilder.offset(page) and not .offset(page * limit).

Can you update that? Thanks!

[2019-08-07 14:39] bashleigh commented on #35
Not sure what I did there. Can't unpublish anymore so I've had to release a new version 1.0.1. Try that :)

[2019-08-07 14:42] b-konrad commented on #35
Thank you so much! It's working now!

[2019-08-07 14:42] #35 closed

[2019-08-12 18:23] ftorghele commented on #31
same here,

typeorm 0.3.0-alpha.23

[2019-08-13 11:05] bashleigh commented on #31
@ftorghele looks like there's a breaking change with typeorm that I didn't know about. I'll look into it! For now, if it's possible to resort to v0.2.* then please do so :) Looks like FindConditions has been removed but I'll look into it :) thanks for letting me know the version!

[2019-08-23 11:30] bashleigh opened #41 "Paginate by id"
Instead of paginating via page, use entity id instead to get the next 10 of object id

[2019-08-26 00:13] AkashRRao opened #42 "Allow paginate to work for query builders with join"
If the SelectQueryBuilder object passed into paginate has joins, the method does not work as expected. Perhaps `.limit(limit)` should be replaced with `.take(limit)` [here](https://github.com/nestjsx/nestjs-typeorm-paginate/blob/79e67893624cb92ae69d618c517e044c7a3f72cc/src/paginate.ts#L79)?

Based off the note from [typeorm/src/query-builder/SelectQueryBuilder.ts](https://github.com/typeorm/typeor

[2019-09-02 12:46] trigoesrodrigo opened #53 "Make nestjs-typeorm-paginate responses return same type as @nestjs/crud"
I think it would be a good idea (albeit a breaking change) that responses follow the same naming convention as the ones returned by nestjs/crud. We use both in the same project and we had to rely on using an interceptor to have consistent responses.

[code]

[2019-09-03 14:31] bashleigh commented on #53
Yes! I've had the same problem. I discussed this in #38 with @johannesschobel. I will be looking into making things 'consistent' and non-consistent :) Thanks! I'll keep this issue open to remind me!

[2019-10-09 18:17] hhwang39 opened #86 "Behavior of page and next"
Thank you for a great library for pagination. However, I think I found some issues.
I am not sure if I understood why page 0 and page 1 are interchangeable.
In `paginate.ts`
[code]
page 1 and page 0 both returns 0. Is that supposed to be correct?
This breaks the behavior of next as well.
[code]
Let us say we have total 5 elements and limit to be 1.

At page 5, we would expect the next be blank bec

[2019-11-04 07:25] rubiin opened #108 "Next page url is shown on last page"
When paginating we are given a url to next page, that is pretty good. However if you hit the last page, you are still given the url for next page which upon visiting shows empty data.

[code]
As you can see in the above output, I have 4 data and is using limit to 2, so logically i should only have 2 pages. But if i visit the last page, i am still given a link to 3rd page

[2019-11-04 07:25] rubiin commented on #108
@bashleigh

[2019-11-04 12:49] rubiin commented on #86
@hhwang39 i also faced the same error and raised an bug

[2019-11-04 12:51] rubiin commented on #86
the interchange is fine, as there is no such page 0 in a general sense but why is there a +2 on next page instead of one . ``` next: isNext ? `${route}?page=${page + 2}&limit=${limit}` : ``` . This is the source of bug i am sure

[2019-11-05 23:11] liranAtli commented on #6
Hi, this bug is happened to me just now, what I should to do?  I have the latest version and I didn't GET all of my data with the paginate 😔

[2019-11-06 14:42] liranAtli commented on #108
@bashleigh
@rubiin fixed the bug please approve is pr :) Thanks.

[2019-11-07 10:11] mitestojanov1990 commented on #42
Can you please change `offset` to `skip` as well? It has the same problem as the author of this issue, [offset](https://github.com/nestjsx/nestjs-typeorm-paginate/blob/79e67893624cb92ae69d618c517e044c7a3f72cc/src/paginate.ts#L80). Thanks!

From the note [typeorm/src/query-builder/SelectQueryBuilder.ts](https://github.com/typeorm/typeorm/blob/00d46e1ef0096ed5932fae8fcb3f62dabfeacaeb/src/query-build

[2019-11-07 16:01] blackpr commented on #42
I agree with @mitestojanov1990
Based on [TypeORM docs](https://typeorm.io/#/select-query-builder/using-pagination) we should `take` and `skip` instead of `offset` and `limit` when we have joins and subqueries

`take and skip may look like we are using limit and offset, but they aren't. limit and offset may not work as you expect once you have more complicated queries with joins or subqueries`

[2019-11-20 21:45] affanshahid opened #129 "Page 0 and 1 return the same data"
In the README the default value for `page` is specified as 0. So I thought pages were counted from 0 onward. However when using 0 and 1 as page number I get the same result (in fact any value for page less than 1 seems to return the first page). Its actually when I use page 2 that I get the next page.

Just wondering if this is intended and what is the behavior for page 0.

[2019-12-02 17:39] ludolas opened #143 "Unable to mock the paginate<T> method"
Hi, thanks for the good work !

I use this module in several pages but i can't find a way to properly mock the paginate<T> method with jest

I've tried many ways, the nearest i think is that one :

[code]
but my mock is ignored,

Could you please tell me the best way to mock that ?

Thanks !

[2020-01-20 15:56] guillaume-roy commented on #143
Here is what I did :

[code]

This link was helpful : https://stackoverflow.com/a/51828840

[2020-02-17 11:18] dependabot-preview[bot] opened #224 "Dependabot couldn't authenticate with registry.npmjs.org"
Dependabot couldn't authenticate with registry.npmjs.org.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/nestjsx) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/nestjsx/update-logs/23607066).

[2020-02-18 05:56] #224 closed

[2020-02-25 16:18] lichnow opened #236 "Auto gen url without route option"
Automatically generate urls without manual pass route option is necessary,Has any solution for it current?

[2020-02-25 16:22] bashleigh commented on #236
Well? How would this package know what your url is? No access to window!

[2020-02-25 16:23] bashleigh commented on #236
maybe from request?

[2020-02-26 06:13] lichnow commented on #236
@bashleigh I think it should indeed get the url from the request, just like the pagination of the laravel framework，this will be much more convenient
[https://laravel.com/docs/6.x/pagination](https://laravel.com/docs/6.x/pagination)
[https://laravel.com/docs/6.x/eloquent-resources#pagination](https://laravel.com/docs/6.x/eloquent-resources#pagination)

[code]

[2020-03-05 08:54] usualdesigner opened #245 "Version 1.0.3 issue"
Looks like a 1.0.3 version on npmjs.com and yarnpkg.com contains files from the 1.0.1 version.

[2020-03-05 13:41] joelcoronah opened #246 "Eager Relationship with pagination"
Hi guys, will there be any way to paginate a model and bring the eager relationship?

[2020-03-10 17:14] JeyongOh-MAASASIA commented on #245
Yeah. I think this is serious. I spent 1 hour trying to find why there is no pagination meta data...

[2020-03-14 22:51] anthonyrenard commented on #246
Hello, is this feature will be release soon ?

[2020-03-15 01:23] joelcoronah commented on #246
@anthonyrenard I could take care of making a pr of it soon ✨

[2020-03-23 07:01] bluerid opened #258 "The pagination returns wrong totalItems, pageCount, next, previous page links"
The pagination returns wrong totalItems, pageCount, next, previous page links even when coupled with a where clause.
When there are 4 rows in my table for user 1, and user 2
[code]
This should return `totalItems: 2`,  `pageCount: 2`, `next: /payments?page=1&limit=1`, `previous: ''`

...but this is what i'm getting.
![image](https://user-images.githubusercontent.com/968650/77290378-18b37e00-6d02-11

[2020-03-25 13:34] carmas123 opened #260 "Please update dependency to NestJS 7"
Please update dependency to NestJS 7.
I got a warning of wrong version when use with the new version of NestJS.

Regards.

[2020-04-01 16:48] papac opened #263 "Add the ? on the route if the base route in options does not contain the ?"
Add the ? on the route if the base route in options does not contain the ?

[https://github.com/nestjsx/nestjs-typeorm-paginate/blob/021ffa1da7d9cf9fb1c65f7fd95400b2618cdb94/src/paginate.ts#L47](https://github.com/nestjsx/nestjs-typeorm-paginate/blob/021ffa1da7d9cf9fb1c65f7fd95400b2618cdb94/src/paginate.ts#L47)

[code]
or

[code]

[2020-04-01 16:52] papac commented on #263
I have the base route equal to `/users?name=joe`. And `/users?name=joe&page=1&limit=5` for next route return by library.

[2020-04-05 07:50] kristofferabell commented on #245
+1

[2020-04-07 03:42] ctilley83 commented on #258
Yep.  I'm having the same issue. I'm asking for 10 items per page but only receiving 5.  Depending on the page the item count will be different.  Sometimes I'll get back 6 items, sometimes 8, etc. Some of my models work perfectly fine.

When I run the query TypeORM generates directly on the database I get 10 items

[2020-04-07 03:54] ctilley83 commented on #258
Actually, I know why.  My issue stems from the fact that I'm joining tables. I'm asking for 10 shipments, but since I'm joining to another table, it's applying the limit to the records in the related table.

<img width="482" alt="image" src="https://user-images.githubusercontent.com/746467/78628389-fffaaa80-7861-11ea-90da-78ad7629b406.png">

[2020-04-07 15:15] ctilley83 commented on #258
The problem seems to be solved in master, however when installing from npm, you don't get the latest version.  I ended up removing the package from my project and copied all the files from master manually.

[2020-04-07 16:55] bashleigh commented on #258
Hey guys, sorry I've been really slow recently. Going to be working on the changes in master in the next few days and finishing things off and deploying :) sorry for taking so long!

[2020-04-07 16:57] bashleigh commented on #245
Sorry been a bit slow, will be finishing off and deploying v2 in the next few days. Had some issues with work and open source has taken a back burner for me for the past year :(

[2020-04-07 16:59] bashleigh commented on #263
I see! I'll sort this for you :)

[2020-04-07 17:00] bashleigh commented on #260
👍 thanks!

[2020-04-07 17:52] ctilley83 commented on #258
All good. Thanks for creating this package.  It saved me a lot of time.

[2020-04-09 17:41] kauandotnet commented on #258
@bashleigh , same issue here, when join table in many-to-many itemCount and totalItems does not work well... you have any position? Thanks.

[2020-04-10 15:17] bashleigh commented on #258
@kauandotnet can you show me your implementation and the query string please if you can?

[2020-04-10 15:41] bashleigh commented on #246
I've already had this working? Using typeorm's eager property? Because I've used typeorm's repository for the queries, the eager properties will be joined or hydrated in the query? However when using the query builder you'll have to handle egar hydration yourself. I usually return a new Pagination object with a promise map of the hydration

[2020-04-10 15:58] bashleigh commented on #245
v2.0.0 released

[2020-04-10 15:58] #245 closed

[2020-04-10 15:58] bashleigh commented on #263
Added to version 2.0.0

[2020-04-10 15:58] #263 closed

[2020-04-10 15:58] bashleigh commented on #260
v2.0.0 now has a peer of ^7.0.0

[2020-04-10 15:58] #260 closed

[2020-04-10 16:02] bashleigh commented on #236
that works with the container. I suppose I could build a pagination helper like service for this? However would depend on the request and would mean creating it as a request scope which could hinder proformance. Could also pass in the request object but I would prefer to do this outside of the `paginate` method as it would require the request object for all queries. I'll have a think about it and

[2020-04-10 16:07] bashleigh commented on #129
at the time, this was a feature, I prefered pages to start from 0 but most people start from 1 so 1 because the new start. I tried to make it so 0 and 1 returned the same results but I don't think this is really fessable anymore. I would suggest only starting from 1.

[2020-04-10 16:07] #129 closed

[2020-04-10 16:08] #31 closed

[2020-04-10 16:09] #42 closed

[2020-04-10 19:53] kristofferabell commented on #245
It appears that interfaces are not exported from the new version @bashleigh

Upgrading to:
"nestjs-typeorm-paginate": "^2.0.1",
results in:

![image](https://user-images.githubusercontent.com/12241416/79018926-55da9580-7b75-11ea-99e4-447365990215.png)

[2020-04-10 20:08] bashleigh commented on #86
@hhwang39 Pages now only start from 1. Anything lower will result in an empty pagination response

[2020-04-10 20:08] #86 closed

[2020-04-10 20:11] bashleigh commented on #245
my bad, didn't spot that. Publishing 2.0.2

[2020-04-10 20:12] bashleigh commented on #108
Next is no longer shown on the last page as of 2.0.0

[2020-04-10 20:12] #108 closed

[2020-04-10 20:27] kristofferabell commented on #245
@bashleigh still an issue in 2.0.2. I don't think anything is exported.

[2020-04-11 00:08] kauandotnet commented on #258
@bashleigh

[code]

[2020-04-11 08:42] luismasserral opened #272 "All versions from 2.0.x have missing `dist` folder"
I just tried to update my version from `1.0.3` to `2.0.2` and I realized the project was failing. I tried with `2.0.1` and also with `2.0.0` and the result is the same: there is no `dist` folder inside the `node_modules/nestjs-typeorm-paginate` folder.

![image](https://user-images.githubusercontent.com/5336391/79039360-fca84b80-7be0-11ea-9fc3-28f144ed4cb0.png)

I wanted to ugrade to version 2.x a

[2020-04-11 12:18] bashleigh commented on #272
yea my bad... ...fixed in 2.0.3 :joy:

[2020-04-11 12:18] #272 closed

[2020-04-13 22:15] bashleigh commented on #246
no response

[2020-04-13 22:15] #246 closed

[2020-04-14 15:47] jczacharia opened #274 "QueryFailedError: OFFSET must not be negative"
I just upgraded to 2.0.3 and got a run time error when using paginate.

[code]

Here is the only code I am running

[code]

Was there a breaking change I am unaware of?

I tried my code on version 1.0.3 and verified I am not getting an error.

[2020-04-14 16:07] jczacharia commented on #274
I see now. The pagination starts at page 1 and not 0.

[2020-04-14 16:07] #274 closed

[2020-04-15 12:05] bashleigh commented on #274
Yes! Sorry, breaking change in 2.0.3 was pages now start from 1. I should've made an md for breaking changes

[2020-05-13 14:13] tranty9597 commented on #258
any update on this

[2020-05-15 08:29] ashishkpoudel opened #286 "Typeorm paginate does not work with addSelect"
I have a query where I need to add a custom column using addSelect `.addSelect('membership.commissionPercentage', 'commissionPercentage')` and return paginated data but it does not work.

If I query result with `queryBuilder.getRawMany()` I get commissionPercentage but not with
[code]

[2020-06-08 11:42] bashleigh commented on #286
I think this is a typeorm thing? If I remember correctly? I think because paginate is using `getManyAndCount` get many will only set properties on your class entity. So you'll have to set commissionPercentage to your requested entity which is user. Else your selected property won't be hydrated to the class

[2020-06-08 11:42] #286 closed

[2020-06-08 11:50] bashleigh commented on #258
@kauandotnet I think using select or left joins has resulted in your error. I quite often hydrate my results if I need to as that's what typeorm does when using joinTables + eager loading. I know it sounds less desired than left joins but it means the results for the pagination are correct! However I would recommend before doing this, making sure your outputted query results in the correct amount

[2020-06-08 11:50] #258 closed

[2020-06-08 18:21] kauandotnet commented on #258
After you've updated, everything is working now... Thanks for your time @bashleigh

You can close again.

[2020-06-09 12:15] ojhaujjwal commented on #286
@bashleigh Is there a possibility of offering pagination for queries using `getRawMany`? What do you think?

[2020-06-22 11:28] bashleigh commented on #286
Hmmm, I think for your scenario you might be looking for a "ViewEntity" https://typeorm.io/#/view-entities/what-is-view-entity which would work with this pagination package. I personally, if I wanted to use getRawMany wouldn't see a need for the paginate function? Other than for types? What do you think? Why would you want to use paginate with getRawMany? Are you mapping to a different instance/ty

[2020-06-24 23:34] JuliaRakitina opened #304 "Update documentation"
Please update documentation for controller

[code]

to

`Promise<Pagination<CatEntity>> `

[2020-07-03 10:40] bashleigh commented on #304
Thanks :)

[2020-07-03 10:40] #304 closed

[2020-07-11 22:52] smartdev10 opened #313 "currentPage turn to string which causes problems in the links"
Hello ,
i have 3 items and i want every page to have 1 item but as u can see the next link has page 21 which should be 2
![image](https://user-images.githubusercontent.com/57545929/87235198-95618980-c3d1-11ea-8e57-d6e2e555023a.png)

i noticed that when it passed nestjs  Query decorator turns to string again even though we typed it as number

[code]

[2020-07-20 09:36] bashleigh commented on #313
oooo that's strange. You can make a nest pipe to convert these values forcibly?

[2020-07-21 00:21] smartdev10 commented on #313
yes that's what i did

[2020-07-21 01:33] keisukehonda opened #319 "error has no exported member 'paginate on 2.1.0"
found bellow error when update 2.1.0 with no modified
` error TS2305: Module '"../../node_modules/nestjs-typeorm-paginate"' has no exported member 'paginate'.

5 import { paginate, IPaginationOptions} from 'nestjs-typeorm-paginate';
[code]

[2020-07-21 17:46] mohammad-khooie commented on #319
I have same problem

[2020-07-22 02:24] felipedasilva commented on #319
For now, we can use version "2.0.3".
"nestjs-typeorm-paginate": "2.0.3"

[2020-07-22 11:08] bashleigh commented on #319
Sorry, new computer yet again. I've added a prepublish script so this won't happen again. Sorry guys, missed that!

[2020-07-22 11:17] bashleigh commented on #319
2.1.1 has the build files etc

[2020-07-22 15:32] keisukehonda commented on #319
thank you. great.

[2020-07-22 15:32] #319 closed

[2020-07-22 16:38] bashleigh commented on #319
Thanks for making an issue! :)

[2020-08-03 13:05] iulian03 opened #330 "Search Options not working"
Hi

I'm trying to paginate a list of objects and also use some search options.

`return paginate<MyEntity>(this.myEntityRepository, paginationOptions, params)`

 "params" is:

`{
  name: FindOperator {
    _type: 'like',
    _value: '%test%',
    _useParameter: true,
    _multipleParameters: false
  }
}`

"paginationOptions" is: `{ page: '1', limit: '10' }`

The problem is that instead of returnin

[2020-08-03 13:34] iulian03 commented on #330
After looking into the code i found the problem. In the `async function paginateRepository<T>` method, replace
`...{searchOptions}` with `...{where: searchOptions}`

I tried opening a PR but i do not have access to push the code to a new branch...

[2020-08-03 16:39] bashleigh commented on #330
You need to fork the repository and then make a PR from your fork to this one! However, in your example you could simply change your params to be within a where property?

`{where: {name: FindOperator { _type: 'like', _value: '%test%', _useParameter: true, _multipleParameters: false } }`

Otherwise, your change will mean other properties cannot be set! Only one where clause.

Furthermore, I've nev

[2020-08-03 17:05] iulian03 commented on #330
Setting {where: params} should work. By the "Find Parameters" example from [here](https://github.com/nestjsx/nestjs-typeorm-paginate) i thought the {where: params} should have been the default behavior. Anynway, thanks.

Also, i'm using the Find Operator like you said (name: Like('test')). In my example i just copied the whole operator by mistake.

[2020-08-10 19:56] brianpooe commented on #330
@iulian03 your link might be broken i cannot access it. I wanted to have a look at what you did as i am facing the same issue.

[2020-08-11 11:29] #143 closed

[2020-08-18 23:39] devfelipereis opened #334 "ER_BAD_FIELD_ERROR: Unknown column 'distinctAlias.operations_id' in 'field list'"
Hello!

I'm trying to make an aggregate query and I'm having this error.

Of course that operations.id doesn't exists because I'm not selecting it.

Check my query:

[code]

If I add **operations.id as operations_id** to the select, then I got this:

The last error will desapear if I add operations.id to the group by... but, the returned list will be empty.

I don't know what I'm doing wrong, I'm

[2020-08-19 00:14] devfelipereis commented on #334
I'm doing a messy... I'll try with subqueries.. sorry..

[2020-08-19 00:14] #334 closed

[2020-08-19 00:43] devfelipereis opened #335 "Paginate returns empty but query has data"
Hello!

I'm trying to get some data from database and pass into paginate as follows:

[code]

If I do **await queryBuilder.execute()** I can see some data but paginate result is empty.

[code]

See that it counts in **totalItems** but items is empty.

Any help?

EDIT:

Using **queryBuilder.execute()** or "**queryBuilder.getRawMany()**" will return data but **queryBuilder.getManyAndCount()** will n

[2020-08-19 01:30] devfelipereis commented on #335
I could fixed it creating my own pagination.

For totalItems I'm executing a query without take and skip and then I aplly add then and executes again.

Not the best way but it works for now.

[2020-08-27 10:12] half-blood-programmer opened #340 "Add configuration to turn off links object"
Is there a way to omit links object?

[2020-08-31 19:28] brianpooe opened #344 "Searching with Where Or clause not working"
[code]

This is the syntax to use to run a search on more than one field.

Error Received:

[code]

[2020-09-02 16:28] yassinebridi commented on #313
I can confirm this problem, @smartdev10 can you please share the code for the pipe.

[2020-09-04 14:34] lucascherifi commented on #313
I confirm it too

[2020-09-04 14:51] lucascherifi commented on #313
while waiting for a fix here, i just made sure that the "limit" and "page" fields were integers and my problem was solved.

[2020-09-04 14:59] yassinebridi commented on #313
@lucascherifi I didn't think about that, i will try it out, thanks.

[2020-09-05 14:22] smartdev10 commented on #313
@yassinebridi you can make sure they are of type number by converting to number and your problems is solved

[2020-09-05 15:49] yassinebridi commented on #313
@smartdev10 Yes it worked!

[2020-09-09 13:44] tim3trick commented on #344
I had a very similar error and, at least on my error, it turned out to be not about the pagination plugin but the invalid psql query i forced it to build.

In my case I used the querybuilder and had this snippet:
[code]

And the error was: `QueryFailedError: operator does not exist: integer ~~ unknown`
Which happens when PSQL tries to build a query with "LIKE" on anything non-text.
So i force-cast

[2020-09-09 13:50] tim3trick commented on #344
Minor addition: "c.someNumberField::text" did not help, it just resulted in in "c.someNumberField does not exist", but this may also be on my end, I just looking for the reason when i found out that `CAST` works

[2020-09-14 16:53] ForeshadowRU opened #355 "Paginate arrays feature."
Hi. I want to request feature to paginate arrays of entities that already somehow were extracted from database.
I see this something like this:
[code]

This would be useful if there are some data that needs to be modified somehow, before being paginatied.

[2020-09-21 18:55] sfelix-martins opened #361 "Allow paginate for raw queries"
For now the package only supports query builder usage for entity query buiders

[code]

We can discuss an way to use raw queries using something like:

[code]

[2020-09-22 08:27] bashleigh commented on #361
Could always use the `Paginate` class

[code]

[2020-09-22 10:58] sfelix-martins commented on #361
Yeah, but I think that we can do something out-of-box like:

[code]

And the users don't will need write te pagination logic manually. What you think about?

[2020-09-24 08:22] bashleigh commented on #361
Yea that's fair. Want to open a PR for it?

[2020-09-24 10:35] sfelix-martins commented on #361
I opened: #363

[2020-10-05 01:17] #361 closed

[2020-10-29 19:39] brianpooe commented on #344
@tim3trick Thanks for your suggestions. Managed to sort out the issue it was due to trying to search a number "price" with a string. Postgres doesn't like that.

[2020-10-29 19:39] #344 closed

[2020-11-10 14:45] danielehrhardt opened #377 "GraphQL Support"
Is there any way to use this with GraphQL?
Currently, i am not able to select the correct Query Return Object

[2020-11-12 00:05] danielehrhardt commented on #313
Same here

[2020-11-15 13:30] danielehrhardt commented on #11
Did you added this feature?

[2020-11-15 13:57] danielehrhardt commented on #330
I tried to use this Plugin but somehow i am also not getting any results.
I am using MongoDB.
If i try to do it with the Query Builder i will get the Message:
`Query Builder is not supported by MongoDB.`
Is this the Reason why the searchOptions Param does not work?

[2020-11-15 14:33] danielehrhardt commented on #330
FYI:
For MongoDb your need to use:
[code]

[2020-11-16 08:07] blazk0 commented on #340
I created a PR to only return it if a route is provided.

https://github.com/nestjsx/nestjs-typeorm-paginate/pull/378/files

[2020-11-17 12:25] bashleigh commented on #340
#378

[2020-11-17 12:28] bashleigh commented on #377
I've honestly not looked at graphQL much. Could you provide an example of how you would create a paginated result with typeORM please? :) I'm guessing the query would look something like this

[code]

[2020-11-17 12:34] bashleigh commented on #355
This is already possible by using the pagination object?

[code]
Only downside is the info for pagination metadata is 'made up' so I'd defo recommend using `getManyAndCount()` so you can calculate some of the info as the properties are required. Unless that's the reason for the request?

[2020-11-18 17:03] bashleigh commented on #340
Released as 2.2.3 👍

[2020-11-18 17:03] #340 closed

[2020-11-19 00:02] ForeshadowRU commented on #355
Thanks for your answer. Yeah, I've figired out this is better to be handled by Pagination object manually :)

[2020-11-19 00:02] #355 closed

[2020-11-20 11:37] bashleigh commented on #11
@danielehrhardt yes! This fix and the limit is returned on the link query string in the current verison

[2020-11-25 08:09] AndonMitev opened #386 "Repository<MongoRepository<User>>>"
Hello i have following code
[code]
But I'm not able to use with mongo Repository this is what i get:
Argument of type 'MongoRepository<User>' is not assignable to parameter of type 'Repository<MongoRepository<User>>' how to fix the part with Repository

[2020-11-28 11:35] bashleigh commented on #335
We're currently using `findAndCount`. Which I'm not sure is correct? I will investigate. However there is a `paginateRaw` method you could use in the mean time. I think it could possibly be your group by and typeorm not agreeing (been a while since I've used it but I remember something like this?)

[2020-11-28 16:57] Atixx opened #388 "Allow configuration of case naming strategy on meta"
## Proposed feature change

The `meta` object item should be configurable to allow API with other naming cases (especially snake_case) to use pagination and maintain consistency with the rest of their strategy.

### Details

Allow a configuration of paginate to return the `meta` object with snake casing:

[code]

The current behavior can be maintain using default config values

---

__note:__ only

[2020-11-28 17:04] Atixx commented on #388
I'm considering adding it to `IPaginationOptions`, which seems a natural place for this type of config option to be. Thoughts?

[2020-11-28 20:28] bashleigh commented on #388
Sure! I've been meaning to do this! However it does make the types a little complicated in terms of the Pagination class. Would mean returning `{[s: string]?: any}` instead of IPagination. Which is probably why I never did this in the end?

[2020-11-28 20:38] bashleigh commented on #386
Doesn't look like MongoRepository provides the same methods required for an easy add for this. Could you give me an example of how you would implement pagination using MongoRepository as looking at typeorm's docs it doesn't look possible to paginate? https://typeorm.io/#/mongodb/using-mongoentitymanager-and-mongorepository

[2020-11-29 15:38] Atixx commented on #388
I'm still new to TS and trying to use it's typing tools correctly, so this might be completely off base I'd like to approach it in a way to still return `IPaginationMeta` but specifing which type as defined by what is passed in options. Do you think that is somewhat achievable?

[2020-12-07 11:00] abehnamfard opened #395 "Cursor-based pagination"
Hello
As we all know offset and limit based pagination have performance issue in large amount of data.
I think the best solution is Cursor-based pagination.
Do you have any plane to implement this type of pagination?

[2020-12-07 11:10] bashleigh commented on #395
you mean as a from given ID solution? I did yes #41 However never had a use for it so never implemented it in the end. It is for a given primary key right?

[2020-12-07 11:27] abehnamfard commented on #395
Yes that's right.

[2020-12-09 18:05] arthurzeras opened #400 "Counter incorrect on queries with groupBy"
Hello all!

When making queries grouping items, the TypeORM `getCount` method used to count items on table apparently consider all items matching with `where` conditions only, ignoring grouping, example:

[code]
This example fetch, for example, 7 items grouped by name and their total usage from 500 registers on database, instead of returning 7, `count` returns 500.

To work around the problem I di

[2020-12-15 06:34] LoginovSO opened #410 "Add the ability to use offset and limit instead of take and skip."
Add the ability to use offset and limit instead of take and skip.

Please add the ability to change the selection of skip to offset and take to limit methods to the library.
Reason when there are a large number of records in the table (several million), distinct spoils the query.

[2020-12-16 00:00] rifatdover commented on #377
I think it should be a [relay connection](https://relay.dev/graphql/connections.htm) not a pagination.

[2020-12-23 05:08] 0stein opened #418 "pagenate(querybuilder, options) doesn't work for me"
Hello
[code]

I get an outcome like this. I guessed itemCount should same with itemsPerPage.
Here is my service code.

[code]

And I found it does work when I use repository.
like

[code]

However since typeorm doesn't support ordering relations loaded with find's "relations" option, using paginate method with queryBuilder is only way I can choose.

 Is there anyone can help with this problem?

[2020-12-23 05:27] esalazarv commented on #313
I'm using a pipe for add default page and limit and casting string values to int, something like code below
[code]

[2020-12-23 11:05] bashleigh commented on #418
Hey @0stein I'm not sure what the issue is? `itemsPerPage` is how many are provided per page, so if your limit is 10, `itemsPerPage` is 10. `itemCount` is the total count of all in the table, this is sometimes incorrect with complex joins where a grouping isn't provided.

As for ordering by id, I did not include a default order because not every table will have a particular column. I could determi

[2021-01-04 13:13] #418 closed

[2021-01-04 13:21] bashleigh commented on #388
I've had an idea, what if we provided a convertor? Where in options `metaTransform` returns type `T` on `<Paginate<E, T>>`?

So!

[code]

Bit long winded and quite a change but would work!

[2021-01-05 13:17] Atixx commented on #388
I like this approach, I was having a similar idea in mind but only in the meta params, this makes it a bit more complete. I'll look into it, thanks for the input 😄

[2021-01-06 13:53] bashleigh commented on #410
Sure, been thinking about offering a "more option" strategy like

[code]
and other options etc

[2021-01-21 22:25] bashleigh commented on #313
Released as 2.3.0, if a string is found, it is converted to a number, if it's not a number then a console warn is thrown and a default value for page and limit is used.

[2021-01-21 22:25] #313 closed

[2021-01-21 22:30] bashleigh commented on #410
@LoginovSO just a question though, why would you want to do this specifically?

[2021-02-03 18:48] LoginovSO commented on #410
skip to offset will be used in sql distinct to check for the uniqueness of records. this greatly affects the time of the request. At the same time, if the tables are designed in such a way that there are unique records, then there is no need for distinct.

[2021-02-13 11:46] luciancapdefier commented on #6
This issue seems to persist in current version as well.

[2021-02-15 12:16] bashleigh commented on #6
@luciancapdefier @liranAtli are you both using custom query builders? If so it's likely your query for count and skip/take/limit are returning different results

[2021-02-15 22:49] luciancapdefier commented on #6
I am not. I am using .createQueryBuilder. Please see below the code snipper and the result with the error.

`
    const query = this.repository
      .createQueryBuilder('t') // instead of FROM clause
      .select('run_id')
      .addSelect('market')
      .addSelect('area')
      .addSelect('SUM(num) num')
      .addSelect(
        'ROUND( SUM(change_hl_' +
          interval +
          ')/NULL

[2021-02-15 22:52] luciancapdefier commented on #6
using Postgres, latest version (13.x)

[2021-02-19 15:34] lukzard commented on #6
any views on this latest post?

[2021-02-19 18:04] bashleigh commented on #6
@lukzard I think it's likely your group by or having conditions are producing different results for your count and select queries so you'll have to investigate your query usage. I'd recommend taking the queryBuilder object and printing the sql for both get and count quries to see if TYPEORM is producing different strings for each method.

[2021-02-19 18:33] lukzard commented on #6
thanks, will do that

but if so, still a typeorm bug, no?

[2021-02-23 13:52] lukzard commented on #6
Hi, returning to the topic above, in-line with my earlier message.

I have looked at the queries generated, and indeed, the count seems to be wrong, the query that counts does not implement the groupBy clauses, which to me, seems like a bug (quite a big one), since the data set returned by the group by select is different than the one w/o group by... maybe i am missing something?!

As a recommenda

[2021-02-25 08:01] lukzard opened #468 "Wrong page counts"
Please see - https://github.com/nestjsx/nestjs-typeorm-paginate/issues/6

That issue needs to be reopened.

[2021-03-06 13:17] lukzard commented on #6
Any reactions?

[2021-03-06 13:31] lukzard commented on #468
Any views?

[2021-03-08 10:13] bashleigh commented on #6
Was typeorm adding both group bys to both queries? You don't have any joins so I'm guessing it's to do with the double group by? If so this is definately an issue with typeorm and not the paginate package so I'm not sure what else I can suggest or fix to help you without suggesting a specific fix for this specific query

[2021-03-08 10:54] lukzard commented on #6
thx for the reply - that's the issue - typeorm DOES NOT implement the groupBy clause to the internal count query, despite the fact that groupBy is used in the main query, resulting in a wrong count (higher no. of records than grouped by); there are no joins. See here https://github.com/nestjsx/nestjs-typeorm-paginate/issues/6#issuecomment-779481460

[2021-03-08 15:17] bashleigh commented on #6
have you tried using an array in groupBy instead? `groupBy([])`?

[2021-03-08 15:54] lukzard commented on #6
No, should i have done that?

So you mean groupBy(['run_id', 'market', 'area']) instead of
  .groupBy('run_id')
  .addGroupBy('market')
  .addGroupBy('area')
?

[2021-03-08 16:07] lukzard commented on #6
Yeah, so .groupBy() is only expecting a string, not an array of strings, see "Argument of type 'string[]' is not assignable to parameter of type 'string'." I wonder why you'd suggest that?

It's a clear bug in the pagination module. See the printed queries, from which one can see the group by clause in the main query, and missing group by clause in the count query.

query: SELECT COUNT(1) AS "cnt"

[2021-03-08 18:36] bashleigh commented on #6
Ok so from your comments it's not an issue with the pagination package, it's an issue with typeorm not allowing you to perform a count query with a group by. According to this issue https://github.com/typeorm/typeorm/issues/544 this is a work around. However I cannot implement this into the pagination package because I feel the package would no longer be agnostic. Therefore I'm not sure what to su

[2021-03-08 19:08] lukzard commented on #6
Thanks,

Strangely that typeorm returns the count, which is used for pagination, and not the paginate module, which is used for... pagination! Anyways...

Anything that helps is appreciated, unsure what you mean by "optional feature". Can you please elaborate?

[2021-03-08 19:15] lukzard commented on #6
Btw, https://github.com/typeorm/typeorm/issues/544 does not see to be the issue I am facing.

The count query is simply wrong as it omits the group by sql clause despite it being used... can you double confirm that this count query is implemented in typeorm vs typeorm-paginate?

[2021-03-08 19:49] bashleigh commented on #6
Yea, we either clone the queryBuilder (your case) or use `findAndCount`

[2021-03-08 20:15] lukzard commented on #6
how would you go about with the two solutions suggested?

[2021-03-11 09:49] bashleigh commented on #6
so there's only really one suggestion that will solve your issue and that's by supplying a custom query to avoid tying the package down to one database language. So here's an example (with @next config)

[code]

The above would mitigate your issue, however it essentially makes the paginateRaw method obsolute almost. It would only be used for creation of the Paginate type

[2021-03-13 15:51] lukzard commented on #6
Thanks, appreciated.

I actually found another workaround, seems more elegant than others... Implemented a subquery to result in select * from (select ...group by), therefore the count is applied like select count(1) from (select * from (select ... group by)) resulting in the correct output.

[2021-04-13 14:12] chanphiromsok opened #492 "error group by when query parameter with if-else statement"
I got an error invoice.total must be in the group by clause

*invoice.service.ts*
[code]
*Error Message when using return with paginationRaw*

*InvoiceEntity*
[code]

*PaymentEntity*
[code]
os: Mac BigSur
package.json
[code]

*error in paginateRaw*
[code]

[2021-04-14 11:12] bashleigh commented on #492
This is an exception thrown by mysql and not nestjs-typeorm-paginate. I think it's a table options? You can turn it off somehow? The reason you're getting it is the having part of your query. I would print out the sql and run that in a client someone and you'll get the same result.
I think `ONLY_FULL_GROUP_BY` is the option you want to look into here?

[2021-04-14 11:12] #492 closed

[2021-04-14 15:11] chanphiromsok commented on #492
but when I chain .having(.....) from query builder without if statement it works fine so i assume the problem is not from postgresql

[2021-04-14 17:12] bashleigh commented on #492
Have you tried making the group by conditional as well?

[2021-04-15 05:59] chanphiromsok commented on #492
add group by still got an error with if-statement when without if-statement i don't use group by is work fine

[2021-04-15 06:02] chanphiromsok commented on #492
I have tested the problem is comes from totalQueryBuilder.getCount()

[2021-05-05 06:46] Zyles opened #501 "Underscore keys for meta"
Is it possible to give meta keys underscore separator to be more consistent with the rest of our API responses?

Example:

[code]

[2021-05-08 10:50] bashleigh commented on #501
I was working on a feature that would enable this, let me get back to it now I've unblocked all the tests/PRs etc

[2021-05-08 10:51] bashleigh commented on #377
After working with GraphQL for a bit, I think it would be possible to set this up and @rifatdover you're right, it would be a relay connection. I'll see what I can do!

[2021-05-08 10:52] bashleigh commented on #410
ah yes, that makes sense! I'll look into it!

[2021-05-08 10:52] #236 closed

[2021-05-08 11:44] bashleigh commented on #388
#505

[2021-05-08 20:10] #388 closed

[2021-05-08 20:10] #501 closed

[2021-05-08 20:11] #468 closed

[2021-05-12 19:16] nick-allen opened #507 "TS2314: Generic type 'IPaginationOptions<CustomMetaType>' requires 1 type argument(s)."
https://github.com/nestjsx/nestjs-typeorm-paginate/commit/3d8fcbef47f6289f09192d3510b454f7454f3b07#diff-2433a58dd5b382f3ef0faf44d5ab97bf79428a0a1452d72934c9ca3c77a237bcR1 introduced new `CustomMetaType` generic on `IPaginationOptions` to support new optional `metaTransformer` method, but appears to be required whether that method is used or not. Ideally could be updated to make the generic type op

[2021-05-13 08:16] #507 closed

[2021-05-13 08:24] bashleigh commented on #507
deployed as 2.4.1

[2021-05-19 08:16] bashleigh commented on #53
meta data is now configurable meaning you can customise the property names as of 2.4.0

[2021-05-19 08:16] #53 closed

[2021-05-19 08:18] #330 closed

[2021-05-19 08:20] #335 closed

[2021-05-19 08:20] #386 closed

[2021-05-22 07:32] audiBookning opened #517 "Route link of the first page missing page param."
I just tried the package. It looks very good.

But unfortunately, i just tested it and in the routes links, the "first" is not correct.
`"first": "/client/paginated?limit=3",`
The page parameter is missing.

Here is the received result a little more expanded.

[code]

I basically copy pasted the example of the readme file in a new nestjs project to test the package.

Here is the code that i used t

[2021-05-22 10:24] bashleigh commented on #517
oh yea that's not right. What version are you using?

[2021-05-22 10:29] bashleigh commented on #517
Actually no that's fine. With no page param the default page is 1

[2021-05-22 11:54] audiBookning commented on #517
Thanks for taking the time to review the issue.

I received this error when querying:
[code]
The following is not an excuse, just an explanation.
It was a little late, the brain was in need of a break and i was doing other things at the same time. I was in an hurry to finish the example before "ending the day".
So i just basically copy pasted the example code with very little modification and when

[2021-05-22 12:09] audiBookning commented on #517
A much better suggestion would be to use the nestjs [DefaultValuePipe](https://docs.nestjs.com/pipes#providing-defaults).
So the readme controller example would be changed to:

[code]

[2021-05-22 15:12] bashleigh commented on #517
Oh ok I see now, would you like to create a PR to add this to the docs?

[2021-05-22 18:56] audiBookning commented on #517
Sure. It is just a little correction to the readme. I will do it as soon as i can.

[2021-05-22 19:49] audiBookning commented on #517
The PR was open, so i will close this issue.

[2021-05-22 19:49] #517 closed

[2021-05-25 12:01] Elbarae1921 commented on #355
I made a helper for this a while ago to make it less verbose, maybe it could come in handy for someone.
[code]

[2021-05-25 18:27] Elbarae1921 commented on #410
@bashleigh maybe also add the option to choose between `limit` and `offset`? I could make a PR to your feature branch if you're busy.

[2021-05-25 18:38] Elbarae1921 opened #522 "PaginateRaw doesn't work well with joins."
`PaginateRaw` (and PaginateRawAndEntities) use `.limit()` and `.offset()` instead of `.take()` and `.skip()`, which cause some issues when using joins. Is there any particular reason why PaginateRaw uses limit/offset over take/skip?

[2021-05-25 22:38] bashleigh commented on #522
#511 #410 This is an option that I'm adding in, just want a pair of eyes on it if you fancy checking it out for me?

[2021-05-26 01:13] Elbarae1921 commented on #522
Yeah I left a comment in #511. I'll see if I could draft up something.

[2021-05-26 08:10] bashleigh commented on #522
sure go for it, would be interesting to see :) thanks! There are about 4 funcs you'll need to keep consistent. I was thinking of making this a function itself but thought it's already cluttered enough. I should really refactor and clean up soon

[2021-05-27 21:32] tamert commented on #377
yes i tried but so basically, ı trun this relay connection later. maybe that gives an idea
https://github.com/tamert/nest-typeorm-graphql-jest/blob/470757254e5cf5ea23c95a28862d16f631927ada/src/recipes/recipes.resolver.ts#L31

[2021-06-01 10:07] akirawinz opened #526 "orderBy in option not working"
[code]

 return paginate(this.repo, options, filterOption);

 am not sure is orderBy can use with this searchOptions ?

[2021-06-02 11:45] bashleigh commented on #526
This will likely be because of typeorm; annoyingly they don't throw any exception or warning: just ignore. I'd double check your property key is correct and that the property includes the relation path `{ 'someRelation.created_at': 'desc' }`

[2021-06-02 13:42] akirawinz commented on #526
@bashleigh

[code]
[code]

How can I orderBy at  `this.Repository`  not in relation

[2021-06-02 14:14] bashleigh commented on #526
You want to order the entity that it's assigned to? Double check the property name for that column. That's the only solution I can offer. If all else fails, attempt doing this with the queryBuilder instead

[2021-06-02 14:16] akirawinz commented on #526
yes I want to order the entity . Ok thanks I try queryBuilder it's work well but if  I use  filterOption it doesn't work :( . I will go back to queryBuilder then

[2021-06-02 14:48] #526 closed

[2021-06-18 17:28] anders-schneider commented on #6
I believe I'm running into this same issue, with `orderBy`. My code:

[code]

Which results in `Pagination.meta` where `itemCount` is incorrectly less than `itemsPerPage`, e.g.:

[code]

Removing `.orderBy()` gives correct (but unordered) results.

@lukzard I'm struggling to replicate your `select * from ( <query> )` workaround - would you mind sharing your code snippet?

[2021-06-19 22:12] lukzard commented on #6
See subQuery and query

const subQuery = this.repository
.createQueryBuilder('x') // instead of FROM clause
.select('market_symbol')
.addSelect('ticker_symbol')
.addSelect('SUM(view_cnt)::int view_cnt')
.addSelect('SUM(like_cnt)::int like_cnt')
.addSelect('SUM(dislike_cnt)::int dislike_cnt')
.addSelect('SUM(favorite_cnt)::int favorite_cnt')
.addSelect('SUM(comment_cnt)::int comment_cnt')
.addSelec

[2021-06-21 16:50] anders-schneider commented on #6
Ah thanks @lukzard, that helped me fix the pagination issue, but seems to require using `paginateRaw` instead of `paginate`. (With `paginate` I still see incomplete pages of data.)

I suppose I could use `paginateRaw` and transform the raw results into my entity's format using e.g. [RawSqlResultsToEntityTransformer](https://typeorm.delightful.studio/classes/_query_builder_transformer_rawsqlresults

[2021-06-22 14:31] kallol24 opened #540 "Limit not working when using multiple order by"
const page = 1;
        const limit = 25;
        const pocConnection = getConnection('default');
        const result =  pocConnection.getRepository(Candidates).createQueryBuilder('candidate')
                                            .leftJoinAndSelect('candidate.interviewSlots', 'interviewSlots')
                                            .where('candidate.currentRound > :currentRound', {cur

[2021-06-27 18:40] AmineLAHRIM commented on #41
still this feature not solved yet? really will be a solution for dynamic pagination if an item added and deleted when you are trying to scrolling

[2021-07-11 13:41] orenhaliva commented on #526
if you change `orderBy` to `order` it will work, but then TS will show some errors.
temporarily fixed with ts-ignore:

[code]

[2021-07-18 16:51] noneedinmagic opened #553 "NestJS 8.x.x is not supported"
Nothing to add really, wanted to upgrade NestJS to @8, but actually needed to stick to @7, the solution is to upgrade peerDependencies here

[2021-07-19 10:41] bashleigh commented on #553
there's an 8 now? 😂  sure, would you like to open a PR for the peers?

[2021-07-20 00:29] duysolo commented on #553
@bashleigh I opened a PR for the peers. Please have a look.
Thanks

[2021-07-20 08:05] bashleigh commented on #553
Thanks! I shall merge once tests pass! #555

[2021-07-20 08:09] bashleigh commented on #553
released as 2.5.4

[2021-07-20 08:09] #553 closed

[2021-07-28 03:45] kauandotnet opened #560 "Not working with softDeleted"
Using softDeleted (deletedAt is not null) the pagination wont work correctly, showing less items.

[2021-07-28 05:15] qkrwnsgh1288 opened #561 "wrong itemCount"
![스크린샷 2021-07-28 오후 1 59 31](https://user-images.githubusercontent.com/37591278/127266957-62e53c4c-30e6-4c9a-ab9b-2e692bcb9b1f.png)

I set the number of items per page to 50, but 18 is the output.
I guess, it seems to count the internal array length caused by Join.
I don't want to count internal array length(`thingSensors`) together.

thing.service.ts
[code]

thing.entity.ts
[code]

[2021-07-28 08:01] bashleigh commented on #560
err showing less items is the desired outcome right? Because using deletedAt should add a where cause to remove deleted items from your results?

[2021-07-28 08:01] #560 closed

[2021-07-28 08:03] bashleigh commented on #561
Ah so, from your query you're querying `thing` instead you should be querying `thingSensors` and do a left join on the `thing` table. This way round you'll end up counting the `thing` table and not the `thingSensors` table.

[2021-07-28 08:03] #561 closed

[2021-07-28 08:03] #410 closed

[2021-08-02 11:48] Garfield550 opened #567 "`paginate` is inconsistent with `findAndCount` behavior"
A look at the source code shows that the `paginate` method uses typeorm's `findAndCount` method.
https://github.com/nestjsx/nestjs-typeorm-paginate/blob/238190de1d7f77af0604d6741a9b4d38cbcb665e/src/paginate.ts#L156

But their behavior is inconsistent.

When using the same `FindConditions` parameter `{ siteInfo: { id: sid } }`, the result of `findAndCount` is correct:

[code]

[code]

The `paginate

[2021-08-09 23:29] petervizi opened #571 "Documentation of paginationType options is not in line with code"
Documentation of the `paginationType` options says it defaults to take/skip

https://github.com/nestjsx/nestjs-typeorm-paginate/blob/238190de1d7f77af0604d6741a9b4d38cbcb665e/src/interfaces/index.ts#L30-L33
however actual code does the opposite

https://github.com/nestjsx/nestjs-typeorm-paginate/blob/238190de1d7f77af0604d6741a9b4d38cbcb665e/src/paginate.ts#L114-L115

IMHO proper fix should be to in

[2021-08-11 14:42] bashleigh commented on #571
Thanks for pointing this out! I have corrected this part of the docs. Not sure if there are any others? I'm still not sure on the LIMIT/OFFSET vs TAKE/SKIP I think I'll have to do a poll at some point to see what the majority votes are. There's only ever been a few arguments/suggestions/requests for take/skip so now I've added it we'll see!

[2021-08-12 08:19] bashleigh opened #576 "skip + take vs limit + offset poll"
Seems like there are some conflicts between the default method of querying. I feel this is a bit of an opinionated choice in some cases and I also don't want to be bias! I personally would stick with limit + offset as it's perfect for simple quiries however some peopel may differ.

Please could people vote for their perfered method, once I have enough votes say by end of November we can release a

[2021-08-12 08:20] bashleigh commented on #576
/polls "Skip & Take" "Limit & Offset"

[2021-08-12 10:42] #571 closed

[2021-08-18 07:32] qafoori opened #581 "Is it possible to paginate an array of objects instead of a repository?"
Im using `Fuse.Js` ([check it out here](https://github.com/krisk/fuse)). I have a condition to check if there is a `search query` to search between the results.

So if there will be no query, I can easily use `nestjs-typeorm-paginate`. but as you can see my code, I don't know how it would be possible to use `nestjs-typeorm-paginate` inside a `Fuse.Js` result.

### post.repository.ts:
[code]

[2021-08-18 14:48] bashleigh commented on #581
Techincally yes? I mean, the package is pretty tied to typeorm and I got pretty confused from your title :p but yes you can create a pagination response from just an array of objects, there are 2 methods. The first returning your own Pagination object

[code]

Or the createPagination method

[code]

However, of you're expecting these methods to paginate the array itself, it's not possible to do th

[2021-08-19 16:14] qafoori commented on #581
I tried both methods. they did not work. finally I wrote my own pagination function which follows `IPaginationOptions` and `Pagination` in `nestjs-typeorm-paginate`:

[code]

**_I know this is not the best way. but so far I have not found another way. can anyone suggest a better way?_**

[2021-08-20 10:35] bashleigh commented on #581
Can't see why you didn't get it work that way but least you've got it working now!

[2021-08-20 10:35] #581 closed

[2021-08-20 14:23] csxcode commented on #42
Do you have any example of how to use it?

[2021-08-20 14:37] csxcode commented on #576
Well, when use pagination with Limit & Offset, I have problems using joins as other people. I understand that I should use "Take and Skip" with joins, but what is the main difference, the performance?

[2021-08-23 15:06] ao-alex opened #585 "Pagination not working with relations"
Hi,
Pagination isn't working correctly with relations, it worked on v2.3.2 but not in v2.6.2.
The generated queries missing distinctAlias

[2021-09-01 09:54] bashleigh commented on #576
@csxcode well it's looking pretty close atm so I think I might do a bit of research and see what the diff is (been a while since I've properly looked at query performance) and see if we can convince more people! If there's no performance difference then I guess we leave it?

[2021-09-02 14:59] 0xC0DEBA5E commented on #585
In my case it also broke between 2.6.0 and 2.5.5. For me 2.5.5 is the last working version.
@ao-alex is it working in v2.5.5 for you?

[2021-09-02 15:39] ao-alex commented on #585
@0xC0DEBA5E I haven't checked 2.5.5

[2021-09-03 11:20] dmunozfer commented on #585
Same problem, with 2.5.5 is working fine.

[2021-09-03 12:09] 0xC0DEBA5E commented on #585
I think I know what the problem was:
In 2.6.0 the default query method is using limit/offest instead of take/skip like it used to be before.

However, the old behavior can be selected with the `paginationType` option.

To use the old behavior set `paginationType` to `PaginationTypeEnum.TAKE_AND_SKIP`.

[2021-09-03 12:10] 0xC0DEBA5E commented on #585
There is also a poll going on about what the new default should be: https://github.com/nestjsx/nestjs-typeorm-paginate/issues/576

[2021-09-03 12:11] bashleigh commented on #585
my bad I thought it was always offset + limit?

[2021-09-03 12:18] 0xC0DEBA5E commented on #585
I checked it again and it was inconsistent before: for `paginateRaw` and `paginateRawAndEntities` the default was `limit/offset` and `paginateQueryBuilder` was using `take/skip` in v2.5.5.

[2021-09-04 10:08] averri opened #591 "How to stream raw responses along with pagination?"
I would like to get paginated results and stream the response back in the controllers.
How to access the stream object?

[2021-09-07 08:00] vibhcool commented on #143
@guillaume-roy I am trying to use your approach, but it fails with error
[code]
I also created a SO ticket related to this.
https://stackoverflow.com/questions/69083859/cant-mock-paginate-function-in-jest-unit-tests

[2021-09-18 12:59] taist24 opened #600 "Unknown column 'XXX' in having clause"
I'm using the haversine formula to calculate the distance, and I want the distance to be < SOME_DISTANCE. From what I can see, the query for count aggregate is incorrect which results in "Unknown column 'distance' in having clause".

Code:
[code]

Query Output:
[code]

Aggregate SQL Output:
[code]

I think the aggregate count query should be:
[code]

Actually, that is how Laravel generates aggrega

[2021-09-18 17:49] hichemfantar opened #601 "How to get all rows (skip pagination)?"
Is there an option I can pass that allows me to skip pagination and return everything all at once.

[2021-09-18 22:06] hichemfantar commented on #601
Apparently you can get all records if you set the limit to 0.

[2021-09-18 22:07] #601 closed

[2021-09-22 09:22] JonasLaux opened #606 "Opt-In totalItems Count"
Hey,
we're using this plugin for a quite big dataset. Since on every paginate call the totalItems get counted, some of our queries that are also just used internally (so no total pages count needed) are getting quite heave/slow. Is there a way to make the count somehow optional?

[2021-09-22 17:12] hichemfantar opened #607 "Sorting Support"
Can you add sorting support? It's a very useful feature.

[2021-09-24 05:03] potier97 commented on #585
Hi, any update of this proble?

[2021-09-24 08:45] bashleigh commented on #585
Waiting for some free time to make the properties consistent. Also waiting for the votes on #576 to determine the prefered method. Still pretty tight so I might do some research on whether skip + take is a better first choice.
Anyone is free to update the `paginateRaw` + `paginateRawAndEntities` to be consistent in the mean time

[2021-09-24 08:49] bashleigh commented on #607
How do you mean? You're able to provide a queryBuilder so you can build you're own query to the paginate func
https://github.com/nestjsx/nestjs-typeorm-paginate#querybuilder

[code]

[2021-09-24 08:50] bashleigh commented on #606
Sure we could add that. However I'm not sure it'll make your queries return any quicker if noticable?

[2021-09-24 08:54] bashleigh commented on #567
I can see the diff yea, guess I should update the docs to use `FindConditions` instead of `FindManyOptions`? I've found some issues with these two types myself. Or should I force the use of `FinsConditions` opposed to `FindManyOptions`?

[2021-09-24 08:58] bashleigh commented on #591
I think this is a bit of a non-package specific request. It really depends on your resources. A simple method I would use is websockets to achieve this. Doing a sort of page by page query + publish to the socket.
A more sophisticated method would be the create a stream however I've not a lot of experience with streams so I wouldn't really be much help! But I reckon the method of delivery would be

[2021-09-24 08:58] #591 closed

[2021-09-24 08:59] bashleigh commented on #540
Is the total items consistent with your query?

[2021-09-24 10:02] JonasLaux commented on #606
Hey,
so when we use the library in the simplest way, it results into 2 Queries. One is the SELECT and one is a count. Let me give you an example:

Implementation:
`      const result = await paginate<SomeEntity>(
        this.someRepository,
        {
          page: 1,
          limit: 10,
        },
        {
          where: {
            foo: 'bar',
          },
        },
      );`

Execution

[2021-09-24 10:48] Garfield550 commented on #567
I prefer `FindManyOptions` because it can declare relations.

`FindManyOptions` extends `FindOneOptions`, and `FindOneOptions.where` is `FindConditions`.

https://github.com/typeorm/typeorm/blob/a868078f8f4f63cc8d81a63e098d639ed12c6608/src/find-options/FindOneOptions.ts#L16-L19

[code]

[2021-09-25 11:23] bashleigh commented on #606
ahhh yea sorry, I should've fought of that! Sure we can add that! Would you like to add this optional feature? If not let me know and I'll get around to it at some point!

[2021-09-25 11:25] bashleigh commented on #567
Yea that's a fair point! Would you like to make this PR for the next major release?

[2021-09-25 13:15] Garfield550 commented on #567
Okay.

[2021-09-27 15:58] mnixry commented on #607
I've implemented sorting and join feature in my CRUD base service class: https://gist.github.com/mnixry/700ea483b9c632c1a025056ddde82f69
I hope my implementation can provide you with a little reference

[2021-09-28 11:38] bashleigh commented on #607
Think I understand, sorting as in order + reversing the order. This can be done already using the findManyOptions

[code]

It's a pretty open method that allows for any implementation. In @mnixry answer, it's pretty complex but does the job! And is an example of allowing any implementation! Looks pretty decent <3

[2021-09-28 11:39] #607 closed

[2021-09-28 11:44] bashleigh commented on #600
Just to make sure, what version of typeorm + mysql are you using?

[2021-09-28 11:45] #567 closed

[2021-09-28 11:53] bashleigh commented on #585
@potier97 Double checked the codebase and the default is now limit and offset for all pagination methods. The fix for this is to update to `v2.6.2` and set `PaginationType` to `PaginationTypeEnum.TAKE_AND_SKIP` as mentioned by @0xC0DEBA5E. This was my fault. I didn't notice the default had changed for some methods and make a minor/patch release instead of major. Releasing a major version now for #

[2021-09-28 11:53] #585 closed

[2021-09-28 11:54] bashleigh commented on #522
Closing this as `PaginationTypeEnum.TAKE_AND_SKIP` has been added to options

[2021-09-28 11:54] #522 closed

[2021-09-28 11:58] bashleigh commented on #600
#400 Actually, ignore me this looks pretty consistent. I shall have a go at implementing this

[2021-09-29 14:30] bashleigh commented on #606
#610 would you mind giving this a quick review for me?

[2021-09-29 15:36] #606 closed

[2021-09-29 17:01] JonasLaux commented on #606
Looks good, thanks!

[2021-09-30 20:58] herenickname commented on #400
very necessary

[2021-10-01 17:54] bashleigh commented on #400
#612 anyone mind reviewing this?

[2021-10-01 18:01] bashleigh commented on #600
Anyone fancy reviewing this for me? #612

[2021-10-01 21:45] bashleigh commented on #400
Released as 3.1.0. Let me know if this resolves your problem!

[2021-10-01 21:46] bashleigh commented on #600
Released as 3.1.0

[2021-10-01 21:51] bashleigh commented on #540
I've released a new version with an updated count method. 3.1.0, try that and let me know if it fixes your issue.

[2021-10-01 21:51] #540 closed

[2021-10-02 12:16] taist24 commented on #600
I've added notes of review, please take a look at [review](https://github.com/nestjsx/nestjs-typeorm-paginate/pull/612#pullrequestreview-769490312)

[2021-10-03 20:08] bashleigh commented on #591
Sorry just seen there's a stream method on [typeorm](https://typeorm.io/#/select-query-builder/streaming-result-data) but not quite sure how to implement it with pagination?

[2021-10-04 17:18] herenickname commented on #400
@bashleigh

code:
[code]

error:
[code]

[2021-10-04 21:41] herenickname commented on #400
After updating the library:
[code]

[2021-10-04 22:46] GerkinDev opened #614 "`count` returns 0"
See https://github.com/nestjsx/nestjs-typeorm-paginate/commit/e76c94098100f2eae1c0416066d5cdbbb2ec2dbc#r57500408.

I think `paginateRepository` should actually take a `FindManyCondition` instead of a `FindManyOptions`, since `limit` and `page` are passed separately.
In this case, order should be set in `IPaginationOptions`

[2021-10-05 19:41] bashleigh commented on #614
#567 FindManyOptions was choosen in favour of FindManyCondition because of confusing and conflicting. As for your title I guess you're refering to v^3.1.0? As I've broken complex count queries with typeorm trying to resolve the count as a sub query. Currently having issues with duplicate select params + parameters.
The problem is I'm trying to duplicate the query and use it as a sub query however

[2021-10-05 19:50] GerkinDev commented on #614
Indeed, this is related to ^3.1.0, and with a mongodb `Repository` (not using query builder).

Why don't you conditionally use [Repository.findAndCount](https://typeorm.io/#/repository-api/repository-api) method ?

[2021-10-05 21:31] egdelwonk opened #615 "Map paginated items to response dto?"
Is there a way to map the paginated items to a response dto ?

[code]

`user.items` is read-only; is there a canonical way of doing this?

[2021-10-05 21:40] egdelwonk commented on #615
Nevermind, lol.

Changing the type worked.

[code]

[2021-10-06 05:02] vjrngn commented on #576
I second @csxcode point. I don't think this will be a question of only performance. Depending on the query "take and skip" may be preferable over "limit and offset".

[2021-10-06 07:53] #615 closed

[2021-10-06 07:56] bashleigh commented on #614
I could however that doesn't fix the problem for more complex queries. If you're having an issue with count queries you can revert to 3.0.0 where the problem doesn't exist. This is my fault for not releasing this as an alpha tag

[2021-10-06 07:57] GerkinDev commented on #614
No problem, would do that ;) please update the issue once you have found a proper solution

[2021-10-06 16:24] taist24 opened #618 "Incorrect types for IPaginationOptions and createPaginationObject method"
I'm manually building the meta-object since my query is quite complex. So, I'm using the `createPaginationObject()` method for building the object. However, I'm getting compile errors on `page` and `limit` attributes that `"Type 'string | number' is not assignable to type 'number'"`.

This is because the `IPaginationOptions` interface has `string | number` type for `page` & `limit`, while the `cre

[2021-10-06 17:13] Elbarae1921 commented on #576
Like it was said by the creator of typeorm:

https://github.com/typeorm/typeorm/issues/8014#issuecomment-892729039

[2021-10-06 17:20] Elbarae1921 commented on #576
One issue I find though is when I have joins with selection and an orderBy clause. Neither `take/skip` nor `limit/offset` worked for me.

[2021-10-06 18:03] bashleigh commented on #618
The reason why this was done was because of the queryDecorator's returned property value is not always a number when it should be (if you're not using a parser/serialiser func). It was decided to allow strings and throw a warning to handle this conversion instead of the library itself! See here https://github.com/nestjsx/nestjs-typeorm-paginate/pull/424#issuecomment-754283556

[2021-10-07 09:13] bashleigh commented on #600
Released fix as 3.1.2 will close this issue

[2021-10-07 16:30] bashleigh commented on #618
Seeing as you're using a custom solution, you could just make your own type seeing as the types on `IPaginationOptions` is causing you a problem.

Also, out of curiosity, why are you making a custom solution?

[2021-10-08 06:13] taist24 commented on #618
Actually, yes, I had done that only but it's kind of bugging me to see different types for the same props. I mean if it's meant to be a loose type then if I pass a string as `page` I should be expecting a string only in return for meta-object or vice-versa, but here it's more like "You pass in a number or string but I'll give you number only in return". But I guess you can close this as I don't th

[2021-10-08 08:10] #618 closed

[2021-10-08 08:24] #400 closed

[2021-10-08 11:39] bashleigh commented on #614
Ahh I see. Would you mind providing an example of your usage please? I shall revert this change if required.

Yea I really need to start doing changelogs 😂 scared of getting them wrong!

[2021-10-11 02:59] yan-almeida opened #619 "How can I integrate unit test mocking using createQueryBuilder method"
Can be possible mock paginate?

![image](https://user-images.githubusercontent.com/56321281/136726991-ebcd14ee-fbeb-4649-9e8a-42b53ffb510a.png)

[2021-10-19 07:28] rudolfmedula opened #627 "Wrong totalCount when using joins in QB"
In this commit https://github.com/nestjsx/nestjs-typeorm-paginate/commit/890ee164e15a1495782917b8443f0cd4cca0b7c0#diff-c58e144dadf00250381ed55e6ce83245cda76aca84131ad494fd4911932f656f. a custom total count query was introduced instead of TypeORMs` qb.getCount()`;

this query being SELECT COUNT(\*) FROM (..) returns number of all rows returned by query which would be like (m\*n\* k...) depending on

[2021-10-26 13:13] shashi-3dqr opened #633 "ER_DUP_FIELDNAME while using querybuilder with join in v3.1.3"
The below error occurs while using a query builder with join (tried inner and left join). And, this occurs only in v3.1.3 and not in v3.1.2.
[code]

[2021-11-15 18:00] Rajugopal1 opened #638 "type orm error"
Cannot find module 'typeorm' or its corresponding type declarations.

[2021-11-18 10:15] #638 closed

[2021-11-22 17:48] notaphplover opened #644 "Missing changelog"
Hi, I'd like to know if there's any changelog in this repo, I'm interested in upgrading my dependencies and I rely on changelogs to know which breaking changes are addressed in major version updates.

[2021-11-30 12:07] gulaandrij commented on #627
is there any chance to fix it?

[2021-12-06 07:19] WayneChu0515 opened #650 "Why I using left join limit not correct?"
Problem:

It's ok when I using nestjs-typeorm-paginate liberary and not left-join,
but itemCount is not correct when query have left-join.

How can I resolve it?

[2021-12-06 08:22] WayneChu0515 commented on #650
Oh It's sorry.

I watch this document https://orkhan.gitbook.io/typeorm/docs/zh_cn-38/select-query-builder.
It say limit / skip and offset / take different
And I solve it.

[2021-12-06 08:22] #650 closed

[2021-12-06 11:07] schuerg opened #651 "Paginate does not work together with PostgreSQL queries containing "DISTINCT ON""
Example TypeORM Query with working expected results:

[code]

Running the paginate() function of this lib with this query results in the following error:

[code]

It seems paginate constructs `GROUP BY clause` conflicting with `DISTINCT ON`

[2021-12-23 09:51] linkvt commented on #644
Adding to this I would really appreciate if there were at least Git tags for every version published to NPM as I need to scroll through the commit history right now to find anything about the v3 release.

[2022-01-08 12:44] GhettoBurger996 opened #666 "paginateRaw enforcing groupBy when it is not needed"
I have the following query I would like to get the facilities along with the AVG review of each when done like this **WITHOUT** the pagianteRaw or pagiante function it return the results as expected.

[code]

The body ends up looking like so,
[code]

The issue is when using the same query and passing it into the **paginateRaw** or **paginate** function. It returns the following error
[code]
I cant

[2022-01-13 16:55] NikolayYakovenko commented on #627
I ran into the same problem.
@bashleigh, do you have any information about solving this problem?

[2022-01-14 09:17] bashleigh commented on #627
Honestly, I haven't had a lot of time to look into this unfortunately. Please feel free to have a go yourselves! Really sorry I've left it so long!

[2022-01-16 01:14] fuadmuhtaz opened #668 "Counter error on queries with orderBy on SQLServer"
Hello all

When making queries order by on SQLServer, method countQuery need set orderBy to undefined to get expected result

[code]
I will get `Error: The ORDER BY clause is invalid in views, inline functions, derived tables, subqueries, and common table expressions, unless TOP, OFFSET or FOR XML is also specified.`

I am modify countQuery and its work
[code]
Some people say in forum need to remo

[2022-01-24 08:40] ayeen commented on #627
@rudolfmedula  @NikolayYakovenko use the below code snippet, I hope this will resolve your problem, this helped me with the same issue I had faced in my application
` options.paginationType = PaginationTypeEnum.TAKE_AND_SKIP`

[2022-01-24 12:19] NikolayYakovenko commented on #627
@ayeen, thank you for your advice.

I know about this option and used it.
But in my case the result was not completely correct. When I set `paginationType: PaginationTypeEnum.TAKE_AND_SKIP`,
I've got the correct value (count) of `items`, but `meta.totalItems` was incorrect.
For example, `items` is an array of 5 elements (which is true), but  `meta.totalItems` is 10.

[2022-01-24 18:09] ayeen commented on #627
@NikolayYakovenko this means you are missing something like you are query on the wrong table which shows the total of 10 items and in a result that shows 5 items from join table.

[2022-01-25 22:17] YuriyLyukov commented on #651
Not sure if it will help you, but as i see, you have a redundant single quote symbol (') near "res.seriesId".

[2022-02-13 02:10] A-kamal commented on #615
@marmotz I couldn't figure it out either so I ended up manually creating a Pagination object :(
[code]

[2022-03-01 20:17] FelipeGerolomo commented on #627
Same problem :(

[2022-03-02 05:36] ayeen commented on #627
@FelipeGerolomo I face this issue when I am trying to order by the data from inner relation! I found one solution I set the order by entity definition and remove it from the query then its worked fine for me.
Entity( {
        orderBy: {
          id: "DESC"
      }})

[2022-03-06 08:17] ChamaraWP commented on #576
cloud someone shows me how to change the query type to TAKE_LIMIT. I couldn't find it in the documentation. sorry for commenting on the irrelevant issue.

[2022-03-08 04:21] ChamaraWP commented on #143
@vibhcool can someone tell me how to call this mocked module inside the test function.

[2022-03-08 11:45] Elbarae1921 commented on #576
@ChamaraWP
[code]

[2022-03-09 18:19] thgiang-ctp commented on #627
Same problem with [NikolayYakovenko](https://github.com/NikolayYakovenko) :(

[2022-03-19 18:31] ku3ntin opened #696 "Looking for solution relation many to many error totalItems"
Hello, I'm posting a message, because indeed, I'm having problems that I can't solve with your package.

[code]

Here is the code below.
The problem is that the information in the meta is wrong.
Indeed, in my database I only have 15 servers, and each server has one or more categories (many to many)

[code]

Do you have a solution to my problem, I do not want to duplicate data and I want to perform

[2022-03-19 22:58] #696 closed

[2022-03-21 09:37] celianvdb commented on #627
Same issue here.

[2022-03-23 16:06] martinsotirov commented on #627
Not only is the total count wrong with the most recent `@nest/typeorm` but also the actual items themselves are wrong, because it seems to count the LEFT JOINed items towards the total count. This doesn't happen with Nest 7.

E.g.
[code]

Gives me 1 vendor with 5 features instead of 5 vendors with 5 features each.

[2022-04-18 09:22] gavin-c-tcg opened #708 "[bug] paginate Error 🐞"
use SelectQueryBuilder and join 2 table and TAKE_AND_SKIP

`pageinate.mate.totalItems` will return raw of number, **is error**

it must return  count of only master table

like this
1.[items,**_count_** ] =selectQueryBuilder.take(10).skip(20).getManyAndCount()
2. example
[code]

[2022-04-19 09:23] bashleigh commented on #576
I think after several extra months, it's pretty unanimous that `limit and offset` is the prefered method.
After doing some reading a long time ago here is a general gist to remind others

### Limit & Offset
Uses query based method for selection

### Skip & Take
Uses javascript filter to filter results

[2022-04-19 12:53] bashleigh commented on #668
#706

[2022-04-19 13:02] bashleigh commented on #627
made a quick release today, `3.2.0` removing order by from the count query #706. I was given an example of an issue with total counts and I managed to resolve it without changing the pagination function which is really annoying :/

I'll give it another go today (got a few hours spare currently 🤞🏼) what I need to do to solve this once and forall would be to add a groupBy on the parent table with th

[2022-04-19 19:56] krzysztofsaja commented on #627
Same issue in my case :(

[2022-04-22 21:46] dminglv opened #710 "[bug] problem with running"
I have problem with running backend.

[code]

Package versions:
**typeorm**: 0.3.6
**nestjs-typeorm-paginate**: 3.2.0
**pg**: 8.7.3
**eslint**: 8.14.0
**typescript**: 4.6.3

[2022-04-26 07:43] bashleigh commented on #710
I haven't yet updated this package to work with typeorm ^0.3.0
I'll take a look at it. For now though I'll add a version limit to the peer dep

[2022-04-26 08:21] bashleigh commented on #710
Wasn't too difficult to refactor in the end. Introduced some breaking changes and I'd rather release this as major to prevent confusing between deps. Release as `4.0.0` - you'll be able to use typeorm ^0.3.6

[2022-04-26 08:21] #710 closed

[2022-04-27 19:28] idemax opened #715 "FindOptionsWhere has no exported member"
I'm trying to `npm run tsc -- --project tsconfig.json` but I'm facin this error:

`node_modules/nestjs-typeorm-paginate/dist/paginate.d.ts:1:74 - error TS2305: Module '"typeorm"' has no exported member 'FindOptionsWhere'.`

- node version: v16.14.0
- npm version: 8.3.1
- tsc version: Version 4.6.3
- nestjs-typeorm-paginate: 4.0.0

[2022-04-27 19:38] idemax commented on #715
[code]

[2022-04-27 20:39] idemax commented on #715
@bashleigh found this change from 2 days ago who is basically upgrading the typeorm

https://github.com/nestjsx/nestjs-typeorm-paginate/commit/7d6faf0c098f18bff3a41dd894a8f81009541391

was this intended?

[2022-04-28 11:30] bashleigh commented on #715
it was yes, v4.0.0 was to be used with typeorm ^0.3.6, just seen I've failed to remove the v0.2.* from the peer dep
https://github.com/nestjsx/nestjs-typeorm-paginate/blob/master/package.json#L50

[2022-04-29 08:30] CrazyOptimist commented on #715
same issue here.
rolling back to v3.2.1 worked for now.

[2022-04-29 11:42] bashleigh commented on #715
@CrazyOptimist still the same with 4.0.1? It should've presented a warning as the peer dependancy doesn't match no?

[2022-05-13 13:29] ColeoptereMoroseDeVan opened #723 "Asking : Find parameter"
Hi,

### Requirements

- "nestjs-typeorm-paginate": "^4.0.1"
- "typeorm": "^0.3.6"

### Wanted

I want to filter my response data by a search param, like the example of the doc about cat and their lives.
(I want to receive only cats that have 9 lives)

So, I tryed the example :

[code]

However, I don't get the expected value, I received all cats, no matter how much lives they have.

### Researche

[2022-05-17 11:27] zarnautovic commented on #627
any news about this ? I have same issue with 3.2.0

[2022-05-19 13:17] markos13 commented on #42
little bit late but here is how I use it :

`getConnection().createQueryBuilder<MTSRole>('MTSRole', 'role').take(10).skip(0);`

Previously ,instead of take and skip , I used  offset and limit . Offset and limit when  you are using joins in a query does not ignore the multiple rows from an inner join (subquery) so it may return wrong results. If you use take and skip the evaluation probably its hap

[2022-05-19 23:44] notaphplover commented on #644
@bashleigh I just noticed you added a changelog, is there any plan to add changes from versions prior to `4.0.0`?

If you accept any suggestions, I would encourage you to have a look to [this doc](https://keepachangelog.com/en/1.0.0/) :smiley:

[2022-05-20 10:36] kevin-lot opened #726 "class-transformer usage"
How can I use https://github.com/typestack/class-transformer to have group serialization?

In my controller, I want to excludeAll and perform serialization only on the properties I want to serialize.
If I do this, no properties are serialized at all, which seems normal since "items" and "meta" do not have the @Expose annotation.

How can I do this?

Best regards.

[2022-05-25 15:38] gulaandrij commented on #627
we stays on 2.x version because of this bug

[2022-05-25 20:22] WalleksMR commented on #627
My solution with this problem, was return the function `metaTransformer` and modifying the return of `totalItems` and `totalPages`.

[code]

I know it’s not right this way, but was that I found.

[2022-06-05 16:13] joelgon opened #731 "MongoRepository"
Add typing for mongo repository in paginate function.
![mongoRepositorypng](https://user-images.githubusercontent.com/18372364/172059826-098befbb-eb12-4ecd-9247-99ae850c8813.png)

the typing would be
![example](https://user-images.githubusercontent.com/18372364/172059965-ec135cd9-371b-4bf6-8c18-02804360cdaf.png)

[2022-06-18 23:20] #731 closed

[2022-07-11 13:45] james-aragorn-ai opened #748 "Coud not resolve dependencies"
npm -v 8.11.0

npm ERR! While resolving: nestjs-typeorm-paginate@4.0.1
npm ERR! Found: typeorm@0.3.6
npm ERR! node_modules/typeorm
npm ERR!   dev typeorm@"0.3.6" from the root project
npm ERR!
npm ERR! Could not resolve dependency:
npm ERR! peer typeorm@"^0.2.7" from @nestjs/typeorm@7.1.5
npm ERR! node_modules/@nestjs/typeorm
npm ERR!   dev @nestjs/typeorm@"^7.1.0" from the root project

[2022-07-12 12:37] #748 closed

[2022-07-13 09:33] ks221197 commented on #11
Upgrading @nestjs/typeorm to 9.0.0, getting error like this
anybody experienced this?

error TS2305: Module '"typeorm"' has no exported member 'FindConditions'.
import { FindConditions, Repository } from 'typeorm'

[2022-07-13 12:59] damiendawreck opened #749 "NestJS 9"
Hi

NestJS 9 has released, nestjs-typeorm-paginate requires @nestjs/common 7 or 8 as a peer dependency but not 9.
^9.0.0 should be added to the peer dependency.

[2022-07-13 13:14] jely2002 commented on #749
I have started work on adding 9.0.0 support. See the linked PR.

[2022-07-19 08:28] jhrncar opened #755 "Paginate and .innerJoinAndMapOne"
Hello, currently, it seems to me that if i build a query builder with .innerJoinAndMapOne, I can't use the mapped entities columns inside paginate - sortableColumns nor filterableColumns.
Is this a bug or intended? If so, is there any workaround?

[2022-07-20 09:41] gorabin commented on #708
I Fixed this issue by following code

`import { createPaginationObject, IPaginationMeta, IPaginationOptions, IPaginationOptionsRoutingLabels, paginate as defaultPaginate, Pagination } from 'nestjs-typeorm-paginate'
import * as page from 'nestjs-typeorm-paginate/dist/create-pagination'
import { FindManyOptions, FindOptionsWhere, ObjectLiteral, Repository, SelectQueryBuilder } from 'typeorm'

const

[2022-07-26 12:54] Anisi commented on #627
`Math.round` should be replaced by `Math.ceil`.

[2022-07-26 13:02] Anisi opened #758 "Trouble with pagination of `QueryBuilder` results with `join`"
Hello,
This is my code:
[code]
The problem is when I return the results directly everything is ok and it returns 11 records including multiple related stages for each record:
[code]
Bu when I use pagination, it returns records each one with only one stage which includes all joined records including 27 records:
[code]
What is wrong with the `paginate`?

[2022-07-26 13:04] WalleksMR commented on #627
Thank you, that's right!

[2022-08-09 02:20] DoIttikorn opened #764 "please fix install package nestjs version ^9.x.x"
Please check PR #762

[2022-08-10 09:32] gaiyaobed commented on #758
I am currently facing similar problem

[2022-08-10 10:03] Anisi commented on #758
Not yet, I added a date field to my main entity to fix this problem.

[2022-08-28 08:33] theothersideofgod commented on #723
{where: {live: 9}}

[2022-08-30 11:10] #764 closed

[2022-09-15 20:14] julianklumpers commented on #758
I'm also encountering this issue.

[code]

My user repository has a total of 4 users in the table, and the enterprise relation has a total of 12 relations. The returned pagination is wrong because it counts the total enterprise relations as `totalItems`

pagination output:

[code]

[2022-09-15 22:22] julianklumpers commented on #708
For me it only happened when using the queryBuilder. I had to use the `paginationType` `TAKE_AND_SKIP`  and use the `getCount()` method from `queryBuildder`.

You can use this patch which solved it for me. Use it at your own risk.

[code]

[2022-09-24 13:42] christopheeyl opened #782 "compilation nestjs-typeorm-paginate/dist/paginate.d.ts error"
Since I have upgraded my json package I am facing compilation errors

`node_modules/nestjs-typeorm-paginate/dist/paginate.d.ts:4:94 - error TS2344: Type 'T' does not satisfy the constraint 'ObjectLiteral'.

4 export declare function paginate<T, CustomMetaType = IPaginationMeta>(repository: Repository<T>, options: IPaginationOptions<CustomMetaType>, searchOptions?: FindOptionsWhere<T> | FindManyOpt

[2022-09-25 06:09] christopheeyl commented on #782
I removed to my tsconfig.ts
`"strictNullChecks": true,
"strictFunctionTypes": true`

and added `"skipLibCheck": true`

[2022-09-25 06:09] #782 closed

[2022-10-25 11:35] lucasbbsdk opened #797 "How to use paginate function with other option parameters"
I want to be able to use function paginate, but being able to remain my current filters query params.

For instance, I have the following endpoint:

[code]
As you can see, I have added the option type over there...
But I cannot see this reflected on the links object when vrowsing in the api

[code]

[code]

What am I doing wrong here?

[2022-10-26 12:28] bnmlynx commented on #627
what did you change to resolve it?

[2022-10-31 17:55] gohunter opened #800 "[bug] paginate not filter 🐞"
Hello!
I am using the example with TypeOrm and MySQL:
@Injectable()
export class CatService {
   builder(
     @InjectRepository(CatEntity)
     private readonly repository: Repository<CatEntity>,
   ) {}

   async paginate(options: IPaginationOptions): Promise<Pagination<CatEntity>> {
     return paginate<CatEntity>(this.repository, options, {
       lives: 9,
     });
   }
}

and when reviewing

[2022-11-07 08:51] TahaDgn commented on #800
Try
[code]

[2022-11-18 10:40] linconsdev opened #803 "Paginate with queryBuilder counts raw number of rows instead of entity number of rows."
![image](https://user-images.githubusercontent.com/104055806/202680526-4d9a05d3-89db-444d-8519-acdd6341d5fd.png)

This is the meta output for only 40 rows of one entity. Im using queryBuilder and leftJoinAndMapOne and mapMany to get relationships.
I don't understand where this totalItems number 2559 is coming from.
It is easy to replicate, happens on every queryBuilder I've made.

Can this issue b

[2022-11-22 08:05] b0nbon1 commented on #627
I'm also facing the issue, any workarounds?

[2022-11-28 00:53] jurampark-pala commented on #41
It would be awesome if we have this feature.